
.section-container {
    display: flex;
}
.section-item{
    
    border:5px double black;
    text-align: center;
}
.section-item header{
     text-align:center;
     font-weight: bold;
}
.section-item img{
 max-width: 100%;
 height: 100px;
 padding-left: 50px;
 
}
